/node_modules/
/client_dist/bundle.js
/client_dist/bundle.js.map
/shared/engine/AbstractEngine.js
/shared/engine/AbstractEngine.js.map
/client_build/view/viewInterface/AbstractViewInterface.js
/client_build/view/viewInterface/AbstractViewInterface.js.map
/client_build/app.js
/client_build/app.js.map
/client_build/view/BoardView.js
/client_build/view/BoardView.js.map
/client_build/controller/Controller.js
/client_build/controller/Controller.js.map
/shared/engine/ChessEngine.js
/shared/engine/ChessEngine.js.map
/shared/engine/Fairy/Fairy.js
/shared/engine/Fairy/Fairy.js.map
/client_build/Global.js
/client_build/Global.js.map
/shared/MessageTypes.js
/shared/MessageTypes.js.map
/shared/engine/Fairy/FairyLeaper.js
/shared/engine/Fairy/FairyLeaper.js.map
/shared/engine/Fairy/FairyRider.js
/shared/engine/Fairy/FairyRider.js.map
/shared/engine/Fairy/FairyStupid.js
/shared/engine/Fairy/FairyStupid.js.map
/shared/engine/FileRank.js
/shared/engine/FileRank.js.map
/shared/gameTime/GameTimeAbstract.js
/shared/gameTime/GameTimeAbstract.js.map
/shared/gameTime/GameTimeInfinite.js
/shared/gameTime/GameTimeInfinite.js.map
/shared/gameTime/GameTimeMove.js
/shared/gameTime/GameTimeMove.js.map
/shared/gameTime/GameTimeNormal.js
/shared/gameTime/GameTimeNormal.js.map
/shared/engine/MoveClass.js
/shared/engine/MoveClass.js.map
/client_build/view/PieceView.js
/client_build/view/PieceView.js.map
/client_build/view/viewInterface/PieceViewInterface.js
/client_build/view/viewInterface/PieceViewInterface.js.map
/shared/engine/PieceModel.js
/shared/engine/PieceModel.js.map
/client_build/otherView/PredictPanel.js
/client_build/otherView/PredictPanel.js.map
/client_build/otherView/PredictPanel.ts
/client_build/otherView/PredictSanSprite.js
/client_build/otherView/PredictSanSprite.js.map
/client_build/view/PointColorNode.js
/client_build/view/PointColorNode.js.map
/client_build/view/PositionControl/PositionConstantSpeed.js
/client_build/view/PositionControl/PositionConstantSpeed.js.map
/client_build/view/PositionControl/PositionManager.js
/client_build/view/PositionControl/PositionManager.js.map
/client_build/view/PositionControl/PositionMovePiece.js
/client_build/view/PositionControl/PositionMovePiece.js.map
/client_build/view/PositionControl/PositionPoints.js
/client_build/view/PositionControl/PositionPoints.js.map
/client_build/view/viewInterface/PredictViewInterface.js
/client_build/view/viewInterface/PredictViewInterface.js.map
/server/Room.js
/server/Room.js.map
/server/RoomServer.js
/server/RoomServer.js.map
/shared/RoomConfigs.js
/client_build/controller/SocketClientAgent.js
/client_build/controller/SocketClientAgent.js.map
/client_build/otherView/SanSprite.js
/client_build/otherView/SanSprite.js.map
/client_build/otherView/TimePanel.js
/client_build/otherView/TimePanel.js.map
/client_build/view/SquareColorNode.js
/client_build/view/SquareColorNode.js.map
/client_build/view/TouchLayer.js
/client_build/view/TouchLayer.js.map
/server/SocketServerAgent.js
/server/SocketServerAgent.js.map
/server/www.js
/server/www.js.map
/.idea/chess.git.iml
/.idea/compiler.xml
/.idea/encodings.xml
/client_build/ImageTag.js
/client_build/ImageTag.js.map
/client_build/LocalStorageKeys.js
/client_build/LocalStorageKeys.js.map
/client_build/LogoLayer.js
/client_build/LogoLayer.js.map
/client_build/MainLayer.js
/client_build/MainLayer.js.map
/.idea/misc.xml
/.idea/modules.xml
/client_build/controller/SocketClientInterface.js
/client_build/controller/SocketClientInterface.js.map
/client_build/view/PointColorCons.js
/client_build/view/PointColorCons.js.map
/client_build/view/PromotePieceLayer.js
/client_build/view/PromotePieceLayer.js.map
/.idea/vcs.xml
/.idea/workspace.xml
/client_build/view/SquareColorCons.js
/client_build/view/SquareColorCons.js.map
