/node_modules/
/client_dist/
/.idea/chess.git.iml
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml

#Exclude all the .js and .js.map files under client_build, server, and shared folders
/client_build/**/.js.map
/client_build/**/.js
/server/**/.js.map
/server/**/.js
/shared/**/.js.map
/shared/**/.js
